.dashboard__nav {
  min-height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
}

.project-name__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
}

.project-name__container label {
  display: flex;
  gap: 4px;
  align-items: center;
}

.project-name__container label small {
  white-space: nowrap;
}

.search__container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.nav__actions__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-right: 8px;
  flex-flow: row;
}

.nav__actions__item {
  position: relative;
  display: flex;
}

.nav__actions__item span {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 4px;
  border-radius: 4px;
  transition: opacity 0.3s;
  z-index: 10;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  min-width: 100px;
  text-align: center;
  transform: translateY(8px);
  transition: all 0.3s;
  max-width: 200px;
}

.nav__actions__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s;
  color: rgba(0, 0, 0, 0.75);
}

.nav__actions__icon:not(.nav__actions__switch):hover {
  transform: scale(1.1);
}

.nav__actions__icon:not(.nav__actions__switch):active {
  transform: scale(0.9);
}

.nav__actions__share {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 6px 8px;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--text-color-alt);
  cursor: pointer;
  user-select: none;
}

.nav__actions__share svg {
  width: 16px;
  height: 16px;
  color: var(--text-color-alt);
}

.nav__actions__share:hover .nav__actions__icon {
  transform: unset;
}

.nav__actions__icon:hover + span {
  opacity: 1;
  user-select: none;
}

.nav__actions__icon:active + span {
  opacity: 0;
}

.nav__actions__switch {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 2px;
}

.nav__actions__switch__circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s;
}

.nav__actions__switch.active .nav__actions__switch__circle {
  transform: translateX(20px);
}
