.drawer__subtitle {
  margin: 16px 0 8px 0;
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0 4px;
}

.drawer__subtitle > h4 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--gray-light);
  font-weight: 600;
  margin: 0;
}

.drawer__subtitle > span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  background-color: var(--primary-color);
  opacity: 0.5;
}
