.drawer .title {
  padding: 16px 8px;
  padding-bottom: 0;
  display: flex;
  flex-flow: column;
  gap: 8px;
  user-select: none;
}

.drawer .title__content {
  display: flex;
  margin-right: 8px;
  gap: 4px;
  align-items: center;
}

.drawer .title__content > small {
  margin-right: auto;
}
