.map__result__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.result__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.result__title {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}

.result__value {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}
