.smart__icon {
  padding: 2px;
  cursor: pointer;
  position: relative;
}

.smart__icon > span {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--gray-light);
  padding: 6px 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  border-radius: var(--border-radius);
  max-width: 200px;
  z-index: 100;
}

.smart__icon:hover > span {
  opacity: 1;
}

.smart__icon:active > span {
  opacity: 0;
}

.smart__icon > span p {
  color: white;
  font-size: 12px;
  white-space: nowrap;
  user-select: none;
}
