:root {
  /* COLORS */
  --primary-color: #4b6cb7;
  --secondary-color: #182848;
  --asset-selected: var(--primary-color);
  --gray-dark: #2b2b2b;
  --gray-light: #6b6b6b;
  --offwhite: #f5f5f5;
  --text-color: #333;
  --text-color-alt: #fff;

  /* DARK THEME */
  --dark-primary-color: #5e81d6;
  --dark-secondary-color: #1f3e7e;
  --dark-gray-dark: #1a1a1a;
  --dark-gray-light: #3d3d3d;
  --dark-offwhite: #222;
  --dark-text-color: #e6e6e6;
  --dark-text-color-alt: #fff;

  /* STYLES */
  --border-radius: 5px;
  --nav-height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input:not(:is([type="checkbox"], [type="radio"])) {
  width: 100%;
  max-width: 400px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  outline: none;
  padding-inline: 8px;
}

select {
  width: 100%;
  max-width: 400px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  outline: none;
  padding-inline: 8px;
}

button:not(.Toastify*) {
  width: 100%;
  max-width: 300px;
  height: 32px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--primary-color);
  color: white;
}

small {
  color: var(--gray-light);
}

.scrollable {
  overflow-y: auto;
  height: 100%;
  position: relative;
  display: flex;
}

.scrollable > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  width: 100%;
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
  }
}

/* Dark theme */
body.dark {
  --primary-color: var(--dark-primary-color);
  --secondary-color: var(--dark-secondary-color);
  --gray-dark: var(--dark-gray-dark);
  --gray-light: var(--dark-gray-light);
  --offwhite: var(--dark-offwhite);
  --text-color: var(--dark-text-color);
  --text-color-alt: var(--dark-text-color-alt);
}
