.drawer {
  width: 100%;
  max-width: 240px;
  background-color: white;
  text-align: left;
  display: flex;
  flex-flow: column;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

.drawer__form {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.drawer__form label {
  display: flex;
  flex-flow: column;
  gap: 4px;
}
